html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", "Verdana", sans-serif;
}

h1 {
  @extend %font-add;
  @include font(normal, 700, 4.4rem, 5.4rem)
}

h2 {
  // font-family: 'Open Sans', "Verdana", sans-serif; не прописываем, т.к. задали для body
  @include font(normal, 700, 3.4rem, 4.6rem)
}

h3 {
  @include font(normal, 700, 2.4rem, 3.4rem)
}

h4 {
  @include font(normal, 600, 2.2rem, 3.0rem)
}

h5 {
  @include font(normal, 700, 1.6rem, 2.6rem)
}



