$image-gap: 32px;

.wrapper__about-us {
  padding-bottom: 101px
}

.about-us__text {
  @include font (normal, 400, 1.6rem, 2.6rem);
  margin-bottom: 45px;
  color: $color-text;
}

.employee-container {
  padding-right: 32px;
}

.employee {
  display: flex;
  align-items: center;
  position: relative;
  width: calc(30% - $image-gap);
}

.employee__content {
  padding: 36px 0 34px 35px;
}

.employee__name {
  margin: 0;
}

.employee__title {
  margin: 0;
  @include font (normal, 400, 1.4rem, 2.6rem);
  color: $color-text;
}

.employee__mail {
  @include font (normal, 400, 1.4rem, 2.6rem);
  color: $color-link;
  &:hover {
    text-decoration: underline;
  }
}

.employee__photo-content {
  position: absolute;
  right: -$image-gap;
  top: 20px;

}

.employee__photo {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}