.header {
  background-color: $color-light;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px 0; // тоже помещать в переменные, т.к. в футере тоже  должны быть такие
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons>.button {
  margin-left: 14px;
}

.header__buttons>.button:first-child {
  margin-left: 0;
}

.navigation {
  display: flex;

}

.navigation__item {
  list-style: none;
  padding: 0 10px;
}

.navigation__link {
  text-decoration: none;
  color: $color-heading;
  font-size: 1.5rem;
  line-height: 2.8rem;
}