.footer {
  padding: 60px 0 70px;
  @include media-mobile {
    padding: 31px 0;
  }
}

.footer__wrapper {
  display: flex;
  @include media-tablet {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logo {
  @include media-tablet {
    margin-bottom: 34px;
  }
}

.footer-navigation {
  flex-grow: 1;
  padding-left: 152px;
  @include media-tablet {
    padding-left: 0;
    width: 100%;
  }
  @include media-mobile {
    flex-direction: column;
  }
}

.footer-navigation__title {
  margin:  0 0 15px;
}

.footer-navigation__links {
  @extend %font-add;
  list-style-type: none;
  a {
    color: $color-text;
    text-decoration: none;
    @extend %transition;
    @include font(normal, 400, 1.6rem, 3.5rem);
    &:hover {
      cursor: pointer;
      color: $color-primary;
    }
  }
  @include media-tablet {
    padding-left: 0;
  }
}